<div class="nav-item ms-0 ps-0">
  <a class="nav-link d-flex align-items-center">
    <div class="avatar avatar-sm avatar-circle">
      <img class="avatar-img" [src]=" userImage" alt="Image Description">
    </div>
 <!--   <div class="flex-grow-1 ms-3">
      <h5 class="mb-0"> {{ (agent()?.agentName ?? userX?.displayName ?? 'User')|truncateText:16 }}</h5>
      <p class="card-text text-body">{{ userX?.email ?? ''|truncateText:20 }}</p>
    </div>-->
    <span (click)="logOut()" class="nav-icon cursor-pointer">
                <img src="/assets/icons/polaris_icons_new/LogOutMinor.svg" class="ps-1"/>
                 </span>
  </a>
</div>
